:root{
    --bg-main : linear-gradient(180deg, #6059f7,#36c3fe);
    --black : #3d3d3d;
    --blue-dark : #6059f7;
    --blue : #6592fe;
    --blue-light : #36c3fe;
    --purple : #8c61ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
}
i{
    color: #adadad;
    font-size: 20px;
    cursor: pointer;
}
body{
    background: var(--bg-main);
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 30px;
    width: 700px;
    background-color: #fff;
    border-radius: 7px;
}
.wrapper{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-translate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-translate textarea{
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    height: 250px;
    width: 100%;
    outline: none;
    resize: none;
    background: none;

}
.input-translate .from-text{
    border-right: 1px solid #ccc;
}
.wrapper ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-top: 1px solid #ccc;
}
.control li .selects{
    position: relative;
    list-style: none;
}

.wrapper ul .row-from{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper ul .row-to{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control li .selects select{
    background: none;
    outline: none;
    border: none;
}
.control .selects select{
    position: relative;
    border-radius: 1px;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-size: 18px;
    width: min-content;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

.translate-btn{
    margin-top: 0.5em;
    width: 100%;
    height: 40px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--blue);
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px; 
}